<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}: {{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="The Hippocratic License: An Ethical License for Open Source.">
    <meta property="og:url" content="https://firstdonoharm.dev">
    <meta property="og:image" content="https://firstdonoharm.dev/images/logo.png">

    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-touch-icon-60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180.png">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body{{ with .Section }} id="{{ . }}"{{ end }}>
    <div id="col-left">
      <header>
        <figure>
          <figcaption>
            <a href="/">The Hippocratic License</a>
          </figcaption>
          <a href="/">
            <img class="logo" src="/images/logo.svg" alt="Hippocratic License Logo">
          </a>
        </figure>
        <nav id="navigation">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#hippocratic-license-3-0">Latest Version</a></li>
            <li><a href="{{ ref . "adopters.md" }}">Adopters</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <div id="veil">
      {{ block "main" . }}
      {{ end }}
      <footer>
        <p>
          The Hippocratic License was created by <a href="https://ethicalsource.dev" title="Organization for Ethical Source">The Organization for Ethical Source</a>.<br>
          Support this and related initiatives via
          <a href="https://opencollective.com/ethical-source">Open Collective</a>.
        </p>
      </footer>
    </div>
  </body>
</html>
